@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 247, 247);
    font-family: 'Space Grotesk';
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}

body h1 {
    width: 100%;
    font-size: clamp(3em, 5vw, 6em);
    text-align: center;
}

body h1 span {
    color: #ee2170;
    font-size: 1.8em;
}

body button {
    border: none;
    font-family: 'Space Grotesk';
}

#quoteContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.imgCon {
    width: 94px;
    height: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 999px;
}

.imgCon img {
    width: 100%;
}

#quote {
    font-size: 1.4em;
    text-align: center;
}

#author {
    text-align: center;
    font-size: 0.99em;
    color: #ee2170;
    font-weight: bold;
}

body button {
    padding: 16px 20px;
    background-color: #000000;
    color: #ffffff;
    font-size: 1.1em;
    transition: transform 0.1s ease-in-out
}

button:hover {
    cursor: pointer;
    filter: brightness(0.8);

}

button:active {
    transform: scale(0.9);
}

#author {}